body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #fff;
  color: #4d4d4d;
}

.cabecera {
  display: block;
  font-weight: bold;
  color: #3b0000;
  font-size: 2rem;
  margin-bottom: 20px;
}